@(longestCompactionString:String)(implicit request: play.api.mvc.Request[_])

@import java.text.DateFormat

@import play.libs.Json._

@includes = {
  <script src='@routes.Assets.at("javascripts/views/common/VisualCountDown.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/views/common/MetricChart.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/views/compactions/ShowCompactions.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/models/Metric.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/models/MetricSeries.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/main/compactions/show_compactions.js")' type="text/javascript"></script>
}

@clusterMetricChart(metricNames: Seq[String]) = {
    <div class="metric-chart-view compaction-metric-chart-view" data-metric-names="@stringify(toJson(metricNames))">
        <div class="x-axis"></div>
        <div class="chart"></div>
        <div class="legend-container">
            <div class="smoother" title="Smoothing"></div>
            <div class="legend"></div>
        </div>
        <div class="timeline"></div>
        <div class="slider"></div>
    </div>
}

@breadcrumbs = {

}

@main("Compactions", includes, breadcrumbs){
    <div id="show-compactions-view">
        <div class="widget">
            <div class="title">Compactions <span class="refresh-text"></span></div>
            <div class="content">
                <ul>
                    <li>Longest Compaction during last 24 Hours: <span class="longest-compaction">-please wait-</span></li>
                    <li>Longest Compaction during last 7 Days: <span>@Html(longestCompactionString)</span></li>
                </ul>
            </div>
            <div>

            </div>
        </div>

        <div class="widget">
            <div class="title">History</div>
            <div class="content">
                @clusterMetricChart(Seq(
                    models.MetricDef.COMPACTIONS
                ))
            </div>
            <div class="description">
                <div class="headline"></div>
                <div class="body">
                </div>
            </div>
        </div>
    </div>
}