@()(implicit request: play.api.mvc.Request[_])

@javascriptIncludes = {
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/server_chart.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/metric_chart_view.css")'>
  <script src='@routes.Assets.at("javascripts/views/common/VisualCountDown.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/views/servers/AbstractServerChart.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/views/servers/ServerChart.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/views/servers/ShowCluster.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/models/Region.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/main/servers/show_cluster.js")' type="text/javascript"></script>
}

@breadcrumbs = {
}

@chart("Cluster", javascriptIncludes, breadcrumbs) {
    <div id="show-cluster-view">
        <div class="widget">
          <div class="title">Region Distribution <span class="server-refresh-text"></span></div>
          <div class="content">
              <div id="server_chart"></div>
          </div>
          <div class="description">
              <div class="headline">How well are regions balanced over the cluster?</div>
              <div class="body">
                  See <a href="https://github.com/sentric/hannibal/wiki/Usage#wiki-server_balance">this Wiki page</a>
                  for further details.
              </div>
          </div>
        </div>
    </div>
}