@(table:Table)(implicit request: play.api.mvc.Request[Any])

@import helpers.Referer

@tableRegionsChart() = {
    <div class="table-regions-chart-view" data-table="@com.codahale.jerkson.Json.generate(table)">
        <div class="y-axis"></div>
        <div class="x-axis"></div>
        <div class="chart"></div>
        <div class="sort-options">
            <ul>
                <li class="checked" data-sort="size">Sort by Size</li>
                <li data-sort="startKey">Sort by Key</li>
                <li data-sort="host">Sort by Host</li>
            </ul>
        </div>
        <div class="legend-container">
            <div class="smoother" title="Smoothing"></div>
            <div class="legend"></div>
        </div>
    </div>
}

@content = {
    <div id="show-table-view">
        <div class="widget">
            <div class="title">Region Sizes for Table @table.name <span class="refresh-text"></span></div>
            <div class="content">
                @tableRegionsChart()
            </div>
            <div class="description">
                <div class="headline">How well are the regions split for the table?</div>
                <div class="body">
                    See <a href="https://github.com/sentric/hannibal/wiki/Usage#wiki-region_splits">this Wiki page</a>
                    for further details.
                </div>
            </div>
        </div>
    </div>
}

@includes = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/table_regions_chart_view.css")">
  <script src="@routes.Assets.at("javascripts/views/tables/TableRegionsChart.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/views/tables/ShowTable.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/views/common/VisualCountDown.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/Region.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/main/tables/show_table.js")" type="text/javascript"></script>
}

@breadcrumbs = {
  @if(Referer.isFromPath(routes.Tables.index)) {
    <li><a href="@routes.Tables.index">Tables</a> <span class="divider">/</span></li>
  } else {
    <li><a href="@routes.Servers.index">Cluster</a> <span class="divider">/</span></li>
  }
}


@main("Table: " + table.name)(content)(includes)(breadcrumbs)

