// Copyright 2012 Sentric. See LICENSE for details.

.page-title {
}
.widget {
  border: 1px #F2F2F2 solid;

  .title {
    font-weight:bold;
    font-size: 14px;
    padding: 12px;
    border-bottom: 1px #F2F2F2 dotted;
    background-color: #F2F2F2;
  }
  .content {
    padding: 12px;
  }
  .description {
    border-top: 1px #F2F2F2 dotted;
    background-color: #F2F2F2;
    text-align: left;
    padding: 12px;
    .headline {
        font-weight:bold;
    }
  }
}

.rickshaw_legend {
  .label {
    background-color: transparent;
    font-weight: normal;
  }

  a, a:hover {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }
}

.rickshaw_legend .line {
  &.all-toggle {
    margin-top: 1.5em;
  }
}

.navbar {
  .brand {
    padding-top: 3px;
    padding-bottom: 0;
  }
  .nav {
    li {
      line-height: 10px;
      a {
        padding-top: 21px;
      }
    }
  }
}