@(region: models.Region, info: models.RegionInfo, table: models.Table, longestCompaction: (Long, java.util.Date))(implicit request: play.api.mvc.Request[Any])

@import helpers.Referer
@import java.text.DateFormat

@regionMetricChart(metricNames: Seq[String]) = {
    <div class="metric-chart-view region-metric-chart-view" data-region-name="@region.regionName" data-metric-names="@com.codahale.jerkson.Json.generate(metricNames)">
        <div class="x-axis"></div>
        <div class="chart"></div>
        <div class="legend-container">
            <div class="smoother" title="Smoothing"></div>
            <div class="legend"></div>
        </div>
        <div class="timeline"></div>
        <div class="slider"></div>
    </div>
}

@content = {
    <div id="show-region-view">
        <div class="widget">
            <div class="title">Details</div>
            <div class="content">
                <ul>
                    <li>Region: <b>@info.regionName</b></li>
                    <li>Table: <a href="@routes.Tables.show(region.tableName)"><b>@region.tableName</b></a></li>
                    <li>startKey: <b>@info.startKey</b></li>
                    <li>endKey: <b>@info.endKey</b></li>
                    <li>Deployed on: <a href="@region.serverInfoUrl"><b>@region.serverHostName</b></a></li>
                    <li>Storefile Size : <b>@(region.storefileSizeMB)MB</b></li>
                    <li>Memstore Flush Size: <b>@(table.memstoreFlushSize/(1024*1024))MB</b></li>
                    <li>Longest Compaction during last 7 Days: <span><b>@(longestCompaction._1/1000.0)s at @(DateFormat.getInstance().format(longestCompaction._2))</b></span></li>
                </ul>
            </div>
            <div>

            </div>
        </div>

        <div class="widget">
            <div class="title">Region History <span class="refresh-text"></span></div>
            <div class="content">
                @regionMetricChart(Seq(
                    models.MetricDef.STOREFILES,
                    models.MetricDef.COMPACTIONS,
                    models.MetricDef.MEMSTORE_SIZE_MB,
                    models.MetricDef.STOREFILE_SIZE_MB
                ))
            </div>
            <div class="description">
                <div class="headline">How did the region evolve over time?</div>
                <div class="body">
                   See <a href="https://github.com/sentric/hannibal/wiki/Usage#wiki-region_history">this Wiki page</a>
                   for further details.
                </div>
            </div>
        </div>
    </div>
}

@includes = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/metric_chart_view.css")">
  <script src="@routes.Assets.at("javascripts/views/common/VisualCountDown.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/views/common/MetricChart.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/views/regions/ShowRegion.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/Metric.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/MetricSeries.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/main/regions/show_region.js")" type="text/javascript"></script>
}

@breadcrumbs = {
  @if(Referer.isFromPath(routes.Regions.index)) {
    <li><a href="@routes.Regions.index()">Regions</a> <span class="divider">/</span></li>
  } else {
    <li><a href="@routes.Servers.index()">Cluster</a> <span class="divider">/</span></li>
    <li><a href="@routes.Tables.show(region.tableName)">Table: @region.tableName</a> <span class="divider">/</span></li>
  }
}

@main("Region: " + region.regionName.take(20) + "…")(content)(includes)(breadcrumbs)